@import "tailwindcss";

.title {
  font-family: "Russo One", sans-serif;
}

body {
  background-color: black;
  color: white;
  cursor: url("/cursor.png"), auto;
}

button,
a {
  cursor: var(--cursor-pointer);
}

@theme {
  --cursor-pointer: url("/pointer.png"), auto;
  --cursor-auto: url("/cursor.png"), auto;
}

@plugin 'tailwind-scrollbar';
